@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: radial-gradient(
		circle,
		rgba(45, 42, 51, 1) 0%,
		rgba(34, 31, 40, 1) 34%,
		rgba(20, 18, 29, 1) 52%
	);
	background-size: 300% 300%;
	animation: triangle-path 15s ease-in-out infinite;
}

/* Анимация движения градиента по траектории треугольника */
@keyframes triangle-path {
	0% {
		background-position: 100% 0%; /* Правый верхний угол */
	}
	33% {
		background-position: 50% 50%; /* Центр */
	}
	66% {
		background-position: 100% 100%; /* Правый нижний угол */
	}
	100% {
		background-position: 100% 0%; /* Возвращение в правый верхний угол */
	}
}

/* Стили для контейнера линий */
.lines-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	justify-content: space-around;
	pointer-events: none;
}

/* Стиль для каждой линии */
.line {
	width: 1px;
	height: 100%;
	background: rgba(200, 200, 200, 0.2);
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.animate-fade-in-out {
	animation: fadeInOut 3s ease-in-out forwards;
}

/* Включить вертикальный слайдер */
.swiper {
	height: 500px;
}

.swiper-pagination {
	position: absolute;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Стили для точек */
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #9ca3af; /* Серый цвет для обычных точек */
	border-radius: 50%;
	margin: 8px; /* Расстояние между точками */
	opacity: 0.7;
	transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff; /* Белый цвет для активной точки */
	transform: scale(1.2); /* Увеличение активной точки */
	opacity: 1;
}

@media (max-width: 768px) {
	.swiper {
		max-height: 500px; /* Высота автоматически подстраивается */
	}
}

/* неоновая линия в навигации */
@keyframes glow {
	0% {
		box-shadow: 0px 0px 8px #3b82f6;
	}
	50% {
		box-shadow: 0px 0px 14px #3b82f6;
	}
	100% {
		box-shadow: 0px 0px 8px #3b82f6;
	}
}

.animate-glow {
	animation: glow 1.5s infinite alternate;
}
